# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
.idea/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you've configured
# for your project which you may wish to share.
.vscode/

# Flutter/Dart-related
**/doc/api/
**/ios/Flutter/.last_build_id
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/flutter_framework_compile_arguments.txt
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.[mh]
**/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
**/android/gen
**/android/local.properties
**/android/project.properties
**/android/settings.gradle
**/android/app/google-services.json
**/android/.gradle
**/android/captures/
**/android/gradle/
**/android/gradlew
**/android/gradlew.bat
**/android/*.iml
**/android/app/*.iml
**/android/app/src/main/*.iml
**/.packages
**/.pub-cache/
**/.pub/
**/build/
**/pubspec.lock
